/* Body styles */
body {
  background-color: #FFF;
  color: #555;
}

/* Header styles */
header {
  background-color: #002171;
  color: #FFF;
}

/* Nav styles */
nav {
  background-color: #BBDEFB;
}

/* Headings */
h1 {
  margin-bottom: 0;
}

h2 {
  color: #1976D2;
}

/* Definition term */
dt {
  color: #002171;
}

/* Address (remove italics) */
address {
  font-style: normal;
}

/* Resort class */
.resort {
  color: #1976D2;
}