/* Chapter 5 Pacific Trails CSS */
* {
  box-sizing: border-box;
}

body {
  background-color: #EAEAEA; 
  color: #555;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#wrapper {
  background-color: #90c7e3;
  background-image: linear-gradient(to bottom, #fff, #90C7E3);
  border: 1px solid #003;
  box-shadow: 3px 3px 3px #333;
  margin: auto;
  min-width: 960px;
  max-width: 2048px;
  width: 80%;
}

/* Header Banner */
header {
  background-color: #000032;
  color: #FFF;
  background-image: url(sunset.jpg);
  background-position: right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 120px;       
  padding-top: 40px;   
  text-align: center;
  font-size: 2rem;     
  font-weight: bold;
}

header a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #90c7e3;
}

/* Navigation */
nav {
  float: left;
  font-size: 120%;
  font-weight: bold;
  padding: 1.5em;
  width: 160px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: #5c7fa3;
}

nav a:visited {
  color: #344873;
}

nav a:hover {
  color: #a52a2a;
}

/* Main Content */
main {
  background-color: #fff;
  margin-left: 190px; /* Space for nav */
  padding: 20px 30px;
  overflow: auto;

  display: flex;             
  flex-direction: row;       
  gap: 2em;                  
  flex-wrap: nowrap;         
}

/* Sections inside main */
section {
  flex: 1;                   
  padding: 1em 2em;          
  box-sizing: border-box;
}

/* Headings */
h1 {
  letter-spacing: 0.25em;
  margin: 0 0 0.5em 0;
}

h1, h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  color: #1976D2;
  text-shadow: 1px 1px #404040;
}

h3 {
  color: #000032;
}


dt {
  color: #002171;
}

/* Address & Footer */
address {
  margin-left: 190px;
  padding: 10px 30px;
  font-style: normal;
  font-weight: bold;
  color: #1976d2;
  text-align: left;
}

footer {
  background-color: #FFF;
  font-size: 75%;
  font-style: italic;
  margin-left: 190px;
  padding: 2em 30px;
  text-align: center;
}

/* Resort name styling */
.resort {
  color: #1976d2;
  font-weight: bold;
}

/* Hero Images */
#homehero,
#yurthero,
#trailhero {
  background-repeat: no-repeat;
  background-size: cover;
  height: 18.75rem;
  margin-left: 190px;
}

#homehero {
  background-image: url(coast2.jpg);
}

#yurthero {
  background-image: url(yurt.jpg);
}

#trailhero {
  background-image: url(trail.jpg);
}










